/node_modules/
/.metadata/
/models/*.js
*.js.map
/client/dist
controllers/mainController.js
controllers/groupCustomerController.js
controllers/clientController.js
package-lock.json
controllers/customerController.js
routes/customers.js
datatypes/pointOfSale.js
datatypes/customer.js
routes/supplies.js
