<div class="buscador">
    <input type="text" class="form-control" placeholder="Buscar locales...">
  </div>
  <div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
    <div class="boxs-lista border" *ngFor="let pos of pointsOfSale"
    [routerLink]="['/detalle-local', pos.id]">    
      <div class="lista-image">
        <img src="images/locales/{{pos.image}}">
      </div>
      <div class="lista-info">
        <div class="lista-title">
          <label>{{pos.name}}</label>
        </div>
        <div class="lista-info-content">
          <label>Productos entregados: 1560</label>
          <label>Productos pagos: 1560</label>
        </div>
      </div>
    </div>
  </div>