<div class="buscador">
    <input type="text" class="form-control" placeholder="Buscar locales..." (keyup)="filterPOS()" [(ngModel)]="filter">
</div>
<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
    <div class="boxs-lista border" *ngFor="let pos of pointsOfSale" [routerLink]="['/detalle-local', pos.id]">
        <div class="imageContainer">
            <img src="images/locales/{{pos.image}}" alt="{{pos.name}}">
        </div>
        <div class="lista-info">
            <div class="lista-title">
                <label>{{pos.name}}</label>
            </div>
            <div class="lista-info-content">
                <label><b>Tel:</b> {{pos.tel}}</label>
                <label><b>Dirección:</b> {{pos.address}}</label>
            </div>
        </div>
    </div>
</div>