<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
  <div class="boxs-home border border-warning">
    <div class="label">
      <span>Locales</span>
    </div>
    <div class="app-image">
      <a routerLink="/locales">
          <img src="/images/Locales.png">
        </a>
    </div>
  </div>
  <div class="boxs-home border border-danger">
    <div class="label">
      <span>Productos</span>
    </div>
    <div class="app-image">
      <a routerLink="/productos">
          <img src="images/Productos.png">
        </a>
    </div>
  </div>
  <div class="boxs-home border border-success">
    <div class="label">
      <span>Reportes</span>
    </div>
    <div class="app-image" style="padding: 7px 2px;">
      <a routerLink="/reportes">
          <img src="/images/Reportes.png">
        </a>
    </div>
  </div>
  <div class="boxs-home border border-primary">
    <div class="label">
      <span>Mapas</span>
    </div>
    <div class="app-image">
      <a routerLink="/mapas">
          <img src="/images/Mapas.png">
        </a>
    </div>
  </div>
</div>