<div class="card" style="margin:15px;">
    <div class="card-header">
        <b>Editar recorrido</b>
    </div>
    <div class="card-body">
        <div class="form-group">
            <form [formGroup]="form">
                <span class="input-group-addon">Nombre:</span>
                <input type="text" class="form-control" [cenInputValidation]="getFormField('name')" formControlName="name">
                <div class="invalid-feedback" *ngIf="isFormFieldInvalid('name')">Ingrese un valor válido.</div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <span class="input-group-addon">Usuario:</span>
                        <select class="form-control" *ngIf="currentRoute" [cenInputValidation]="getFormField('user')" [(ngModel)]="currentRoute.user"
                            [compareWith]="compareUser" formControlName="user">
                            <option *ngFor="let u of users" [ngValue]="u">{{u.firstname}} {{u.lastname}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <span class="input-group-addon">Fecha:</span>
                        <!-- start: date picker -->
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" [cenInputValidation]="getFormField('date')" placeholder="dd/mm/yyyy" 
                                    name="dp" formControlName="date"
                                    ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <img src="images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                                <div class="invalid-feedback" *ngIf="isFormFieldInvalid('date')">Ingrese un valor válido.</div>
                            </div>
                        </div>
                        <!-- end: date picker -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col" *ngFor="let p of currentRoute.stock" style="text-align: center">
                        <div class="col productos-info" style="text-align: center;">
                            <div class="productos-title">
                                <label>{{p.product.name}}</label>
                            </div>
                            <div class="productos-image" style="margin: auto;">
                                <img src="images/productos/{{p.product.path_image}}" width="30px" height="80px" />
                            </div>
                            <div>
                                    <input type="number" style=" width:65px;" class="form-control"                                     
                                    [(ngModel)]="p.quantity" [ngModelOptions]="{standalone: true}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <span class="input-group-addon">Cliente:</span>
                    <div class="input-group">
                        <select class="form-control" *ngIf="currentRoute" [(ngModel)]="ClientSelected">
                            <option *ngFor="let c of clients" [ngValue]="c">{{c.name}} {{c.lastName}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" (click)="agregarCustomer(ClientSelected)">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <span class="input-group-addon">Punto de venta:</span>
                    <div class="input-group">
                        <select class="form-control" *ngIf="currentRoute" [(ngModel)]="POSSelected">
                            <option *ngFor="let pos of pointsOfSales" [ngValue]="pos">{{pos.name}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" (click)="agregarCustomer(POSSelected)">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <span class="input-group-addon">Plantilla Recorrido:</span>
                    <div class="input-group">
                        <select class="form-control" [(ngModel)]="templateSelected">
                            <option *ngFor="let tr of templatesRoutes" [ngValue]="tr">{{tr.name}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" (click)="addTemplate()">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="alert alert-danger alert-dismissible" *ngIf="errorNoPOS">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>No puede crear un recorrido sin puntos de venta.</strong>
        </div>


        <div class="card" *ngIf="currentRoute">
            <div class="card-header">
                Puntos de venta
            </div>
            
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 15px;"></th>
                            <th>Nombre</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody  [dragula]='"bag-one"'  [dragulaModel]='currentRoute.customers'>
                        <tr *ngFor="let i of currentRoute.getCustomers(); index as ix">
                            <td class="gu-orderable" title="Arrastrar la fila para reordenar" >
                                <span class="fa fa-arrow-circle-up" style="cursor:pointer" (click)="changeOrder(i.id,ix, ix - 1)" *ngIf="ix !== 0"></span>
                                <span class="fa fa-arrow-circle-down" style="cursor:pointer" (click)="changeOrder(i.id,ix,ix + 1)" *ngIf="ix + 1 < currentRoute.getCustomers().length"></span>
                            </td>
                            <td class="gu-label">{{i.name}}</td>
                            <td>
                                <a (click)="remove(i.id)">
                                    <i class="fa fa-trash-o" style="font-size: 1.7em;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
        <button type="button" class="btn btn-light" routerLink="/recorridos">Cancelar</button>
    </div>
</div>