#
# Backup de la base de datos de GOODVIBES. Se ejecuta dos veces al día
#
0 */12 * * * /root/src/goodvibesuy.github.io/deploy/backup.sh > /root/db-backup/logs/good/backup.out 2> /root/db-backup/logs/good/backup.err

#
# Renovación del certificado HTTPS del sitio de www.gestion.uy
#
30 */12 * * * /root/https/certbot-auto renew --standalone --preferred-challenges http > /root/https/logs/certbot-renew.out 2> /root/https/logs/certbot-renew.err

