<div>
    <br/>
    <b>Detalle a facturar</b>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col">Precio unitario</div>
            <div class="input-group col">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="unitePrice" style="width: 70px;">
            </div>
        </div>
        <div *ngFor="let p of products" class="row">
            <div class="col">
                {{p.name}} ({{getProductQuantityById(p.id)}})
            </div>
            <div class="col">
                ${{getProductQuantityById(p.id) * unitePrice}}
            </div>
        </div>
        <div class="row" style="background-color: #cccccc;">
            <div class="col">Sub-Total</div>
            <div class="col">${{ subtotal() }}</div>
        </div>
        <div class="row" style="background-color: #cccccc;">
            <div class="col">IVA</div>
            <div class="col">${{ iva() }}</div>
        </div>
        <div class="row" style="background-color: #cccccc;">
            <div class="col">Total</div>
            <div class="col">${{ total() }}</div>
        </div>
    </div>
</div>