<app-client-form titleForm="Agregar" [parentComponent]="this"></app-client-form>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Direción</th>
            <th>Tel</th>
            <th>Ir</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clients">
            <td>{{c.names}}</td>
            <td>{{c.lastnames}}</td>
            <td>{{c.address}}</td>
            <td>
                {{c.phone}}
            </td>
            <td>
                <a *ngIf="c.coord !== null" href="https://www.google.com/maps/dir/?api=1&destination={{c.coord.x}},{{c.coord.y}}&travelmode=driving">                    
                    <span class="fa fa-map" style="margin-left:5px;font-size: 1.5em;color:#555;"></span>
                </a>
            </td>
            <td>
                <a (click)="delete(c.id)">
                    <i class="fa fa-trash-o" style="font-size: 1.7em;"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>