<div style="float: right;">
    <button class="btn btn-circle add fa fa-plus" routerLink="agregar"></button>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direción</th>
            <th>Tel</th>
            <th>Ir</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clients">
            <td>{{c.name}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.address}}</td>
            <td>{{c.tel}}</td>
            <td>
                <a target="_blank" *ngIf="c.coord !== null" href="https://www.google.com/maps/dir/?api=1&destination={{c.coord.x}},{{c.coord.y}}&travelmode=driving">                    
                    <span class="fa fa-map" style="margin-left:5px;font-size: 1.5em;color:#555;"></span>
                </a>
            </td>
            <td>
                <a [routerLink]="['editar', c.id]">
                    <i class="fa fa-edit" style="font-size: 1.7em;"></i>
                </a>
            </td>
            <td>
                <a (click)="delete(c.id)">
                    <i class="fa fa-trash-o" style="font-size: 1.7em;"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>