<div class="detalle-local border">
    <div class="detalle-local-header flex flex-wrap d-flex justify-content-around content-center content-between">
        <div style="width:100%; text-align: center;">{{pointOfSale.name}}</div>
        <div style="clear: both;"></div>
        <div class="head-image">
            
            <img *ngIf="pointOfSale.image !== '' && pointOfSale.image !== null" 
                 src="images/locales/{{pointOfSale.image}}" />
            <i *ngIf="pointOfSale.image === '' || pointOfSale.image === null" class="fa fa-home" style="font-size: 3.0em;"></i>
        </div>
    </div>
    <div class="detalle-local-info">
        <div class="container">
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col">Entregados</div>
                <div class="col">Devolución vencidos</div>
                <div class="col">Devolución vacíos</div>
            </div>
            <div class="row align-items-center" *ngFor="let product of productsToSend">
                <div class="col productos-info">
                    <div class="productos-image">
                        <img src="images/productos/{{product.path_image}}">
                    </div>
                    <div class="productos-title">
                        <label>{{product.name}}</label>
                    </div>
                </div>            
                <div class="col">
                    <input type="number" class="detalle-input form-control" [(ngModel)]="product.typeTransaction.delivery" />
                </div>
                <div class="col">
                    <input type="number" class="detalle-input form-control" [(ngModel)]="product.typeTransaction.empty"/>
                </div>
                <div class="col">
                    <input type="number" class="detalle-input form-control" [(ngModel)]="product.typeTransaction.return"/>
                </div>
            </div>
        </div>
        <div class="filters flex d-flex justify-content-around content-center content-between">            
            <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/locales']">Cancelar</button>
            <button type="button" (click)="agregar()" class="btn btn-success btn-lg">Agregar Visita</button>
        </div>
    </div>
</div>