<br/>
<br/>
<ul class="nav nav-tabs" id="supplyTab" role="tablist">
    <li class="nav-item" *ngFor="let supply of supplies; index as i">
        <a class="nav-link active" *ngIf="i == 0" data-toggle="tab" id="supply_{{i}}-tab" href="#supply_{{i}}" role="tab" aria-selected="true"
            (click)="supplyHistory(supply.id)">{{supply.name}}</a>
        <a class="nav-link" *ngIf="i != 0" data-toggle="tab" id="supply_{{i}}-tab" href="#supply_{{i}}" role="tab" aria-selected="false"
            (click)="supplyHistory(supply.id)">{{supply.name}}</a>
    </li>
</ul>
<div class="tab-content" id="supplyTabContent">
    <div class="tab-pane fade" *ngFor="let supply of supplies; index as i" id="supply_{{i}}" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of suppliesPrice">
                    <td>{{s.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{s.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }
</style>




<!-- Chart code -->
<script>


</script>
<div id="chartdiv"></div>
<br/>
<div id="chartdiv2"></div>