<table class="table">
  <tr>
    <td>
      <div class="card" style="margin:15px;">
        <div class="card-header">
          <b>Editar insumo</b>
        </div>
        <div class="card-body">

          <div class="form-group">
            <span class="input-group-addon">Nombre:</span>
            <input type="text" class="form-control" id="name" *ngIf="supply" [(ngModel)]="supply.name">
          </div>

          <div class="form-group">
            <span class="input-group-addon">Unidad:</span>

            <select class="form-control" *ngIf="supply" [(ngModel)]="supply.unit">
              <option *ngFor="let unit of units" [ngValue]="unit.id">{{unit.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <span class="input-group-addon">Precio:</span>
            <input type="text" class="form-control" id="amount" *ngIf="supply" [(ngModel)]="supply.amount">
          </div>


          <div class="form-group">
            <span class="input-group-addon">Proveedor:</span>

            <select class="form-control" *ngIf="supply" [(ngModel)]="supply.idProvider">
              <option *ngFor="let provider of providers" [ngValue]="provider.id">{{provider.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <span class="input-group-addon">Fecha:</span>
       <!-- <input type="date" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" [value]="datee | date:'yyyy-MM-dd'">
       <input type="date" class="form-control" id="BirthDate" name="BirthDate" 
       *ngIf="supply" [ngModel]="supply.price_date | date:'yyyy-MM-dd'" (ngModelChange)="supply.price_date = $event"
[value]="supply.price_date | date:'MM-dd'" #BirthDate="ngModel" required>-->

            <input type="date" class="form-control" *ngIf="supply"
            [ngModel]="supply.price_date | date:'yyyy-MM-dd'"
            [value]="supply.price_date | date:'yyyy-MM-dd'"
             (ngModelChange)="supply.price_date = $event">
          </div>

          <div class="form-group">
            <span class="input-group-addon">Imagen:</span>
            <img [src]="getImage()" *ngIf="supply" class="small_image edit_supply" />
            <file-picker text="Cambiar" (selected)="handleSelected($event)"></file-picker>
            <div *ngIf="filestring">
              {{filestring}}
            </div>
          </div>


          <button type="button" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
          <button type="button" class="btn btn-light" routerLink="/admin/insumos">Cancelar</button>
        </div>
      </div>
    </td>
  </tr>
</table>
