<table class="table">
	<tr>
		<td>
			<div class="card" style="margin:15px;">
				<div class="card-header">
					<b>Agregar producto</b>
				</div>
				<div class="card-body">
                    <div class="form-group">
                        <span class="input-group-addon">Nombre:</span>
                        <input type="text" class="form-control" id="name" *ngIf="product" [(ngModel)]="product.name">
                    </div>
    
                    <div class="form-group">
                        <span class="input-group-addon">Imagen:</span>
                        <img [src]="getImage()" *ngIf="product" class="small_image" />
                        <file-picker text="Cambiar" (selected)="handleSelected($event)"></file-picker>
                        <div *ngIf="filestring">
                            {{filestring}}
                        </div>
                    </div>
                    
					<button type="button" (click)="agregar()" class="btn btn-primary">Agregar unidad</button>
					<button type="button" class="btn btn-light" routerLink="/admin/productos">Cancelar</button>
				</div>
			</div>
		</td>
	</tr>
</table>