<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of routes">
            <!--<td>{{r.date | date:'dd/MM/yyyy'}}</td>-->
            <td>{{r.date}}</td>
            <td>
                <a href="javascript:;" (click)="showRoute(r.idroute)"> {{r.name}}</a>
            </td>
        </tr>
    </tbody>
</table>


<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
    <div class="boxs-productos border" style="height: 110px;" *ngFor="let pos of pointsOfSale">
        <div class="container">
            <div class="row">
                <div class="col" style="font-size:20px;">
                    <img *ngIf="pos.image !== '' && pos.image !== null" style="width:50px;" src="images/locales/{{pos.image}}" />
                    <i *ngIf="pos.image === '' || pos.image === null" class="fa fa-home" style="font-size: 2.0em;"></i>
                </div>
                <div class="col">
                    <div class="productos-title">
                        <label>{{pos.name}}</label>
                    </div>
                    <!--
                    <span class="fa fa-calendar-check-o" style="font-size: 2em; color:#00aa00;" aria-hidden="true"></span>
                    <span style="color:#00aa00;">10:00Hs</span>
                    <br/>
                    <i class="fa fa-arrow-up" aria-hidden="true" style="color:#00aa00;"></i>
                    <span style="color:#00aa00;"> 20</span>
                    <i class="fa fa-arrow-down" aria-hidden="true" style="color:#aa0000;"></i>
                    <span style="color:#aa0000;"> 3</span>
                -->
                    <a href="comgooglemaps://?daddr=-34.923443,-56.159779&directionsmode=driving">
                        <span class="fa fa-map" style="margin-left:5px;font-size: 1.5em;color:#555;"></span>
                    </a>
                    <a href="/#/detalle-local/{{pos.id}}/{{currentRoute}}">
                        <span class="fa fa-cart-arrow-down" style="margin-left:5px;font-size: 1.8em;color:#555;"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!--

<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
    <div class="boxs-productos border" style="height: 110px;">
        <div class="productos-image2">
            <img src="images/lamandolina.jpg">
        </div>
        <div class="productos-info">
            <div class="productos-title">
                <label>La mandolina</label>
            </div>
            <span class="fa fa-calendar-check-o" style="font-size: 2em; color:#00aa00;" aria-hidden="true"></span>
            <span style="color:#00aa00;">10:00Hs</span>
            <br/>
            <i class="fa fa-arrow-up" aria-hidden="true" style="color:#00aa00;"></i>
            <span style="color:#00aa00;"> 20</span>
            <i class="fa fa-arrow-down" aria-hidden="true" style="color:#aa0000;"></i>
            <span style="color:#aa0000;"> 3</span>
        </div>
    </div>
    <div class="boxs-productos border" style="height: 110px;">
        <div class="productos-image2">
            <img src="images/cayetana.png">
        </div>
        <div class="productos-info">
            <div class="productos-title">
                <label>Gandhi</label>
            </div>
            <span class="fa fa-calendar-check-o" style="font-size: 2em; color:#00aa00;" aria-hidden="true"></span>
            <span style="color:#00aa00;">10:30Hs</span>
            <br/>
            <i class="fa fa-arrow-up" aria-hidden="true" style="color:#00aa00;"></i>
            <span style="color:#00aa00;"> 20</span>
            <i class="fa fa-arrow-down" aria-hidden="true" style="color:#aa0000;"></i>
            <span style="color:#aa0000;"> 2</span>
        </div>
    </div>
    <div class="boxs-productos border" style="height: 110px;">
        <div class="productos-image2">
            <img src="images/koi.jpg">
        </div>
        <div class="productos-info">
            <div class="productos-title">
                <label>Koi supermarket</label>
            </div>
            <span class="fa fa-calendar" style="font-size: 2em;" aria-hidden="true"></span>
            <span style="color:#00aa00;">10:45Hs</span>
            <br/>
            <i class="fa fa-arrow-up" aria-hidden="true" style="color:#00aa00;"></i>
            <span style="color:#00aa00;"> 20</span>
            <i class="fa fa-arrow-down" aria-hidden="true" style="color:#aa0000;"></i>
            <span style="color:#aa0000;"> 2</span>
        </div>
    </div>


    <div class="boxs-productos border" style="height: 110px;">
        <div class="productos-image2">
            <img src="images/cayetana.png">
        </div>
        <div class="productos-info">
            <div class="productos-title">
                <label>Cayetana Golf</label>
            </div>
            <span class="fa fa-calendar" style="font-size: 2em;" aria-hidden="true"></span>
            <span style="color:#00aa00;">11:00Hs</span>
            <br/>
            <i class="fa fa-arrow-up" aria-hidden="true" style="color:#00aa00;"></i>
            <span style="color:#00aa00;"> 25</span>
            <i class="fa fa-arrow-down" aria-hidden="true" style="color:#aa0000;"></i>
            <span style="color:#aa0000;"> 4</span>
        </div>
    </div>

    <div class="boxs-productos border" style="height: 110px;">
        <div class="productos-image2">
            <img src="images/portovanila.png">
        </div>
        <div class="productos-info">
            <div class="productos-title">
                <label>Porto Vanila</label>
            </div>
            <a href="comgooglemaps://?daddr=-34.923443,-56.159779&directionsmode=driving">
                <span class="fa fa-map" style="margin-left:5px;font-size: 1.5em;color:#555;"></span>
            </a>
            <a href="detalle-local.html">
                <span class="fa fa-cart-arrow-down" style="margin-left:5px;font-size: 1.8em;color:#555;"></span>
            </a>
        </div>
    </div>
</div>
-->