.visitPOSWithCeroProduct{
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
}

.visitPOSWithCeroProduct a{    
    color: #ffffff;
}

.visitPOS{
    padding: 10px;
    color: #11aa11;
}

.visitPOS a{        
    color: #11aa11;
}