<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
    <div class="boxs-productos border">
      <div class="productos-image">
        <img src="images/productos/citra-trip.png">
      </div>
      <div class="productos-info">
        <div class="productos-title">
          <label>Citra Trip</label>
        </div>
        <div class="productos-info-content">
          <label>Entregados: 1560</label>
          <label>Vencidos: 160 ( 10% ) </label>
          <label>Precio venta: $ 70</label>
          <label>Costo producción: $ 25 ( 35% ) </label>
          <label>Ganancia: $ 55</label>
        </div>
      </div>
    </div>
    
    <div class="boxs-productos border">
      <div class="productos-image">
        <img src="images/productos/green-life.png">
      </div>
      <div class="productos-info">
        <div class="productos-title">
          <label>Green Life</label>
        </div>
        <div class="productos-info-content">
          <label>Entregados: 1360</label>
          <label>Vencidos: 110 ( 12% ) </label>
          <label>Precio venta: $ 80</label>
          <label>Costo producción: $ 30 ( 37% ) </label>
          <label>Ganancia: $ 50</label>
        </div>
      </div>
    </div>
    
    <div class="boxs-productos border">
      <div class="productos-image">
        <img src="images/productos/paradise-dream.png">
      </div>
      <div class="productos-info">
        <div class="productos-title">
          <label>Paradise Dream</label>
        </div>
        <div class="productos-info-content">
          <label>Entregados: 1060</label>
          <label>Vencidos: 160 ( 6.6% ) </label>
          <label>Precio venta: $ 65</label>
          <label>Costo producción: $ 25 ( 38% ) </label>
          <label>Ganancia: $ 40</label>
        </div>
      </div>
    </div>
    
    <div class="boxs-productos border">
      <div class="productos-image">
        <img src="images/productos/sun-kiss.png">
      </div>
      <div class="productos-info">
        <div class="productos-title">
          <label>Sun Kiss</label>
        </div>
        <div class="productos-info-content">
          <label>Entregados: 860</label>
          <label>Vencidos: 90 ( 10% ) </label>
          <label>Precio venta: $ 80</label>
          <label>Costo producción: $ 35 ( 44% ) </label>
          <label>Ganancia: $ 45</label>
        </div>
      </div>
    </div>
    
    <div class="boxs-productos border">
      <div class="productos-image">
        <img src="images/productos/yellow-rolling.png">
      </div>
      <div class="productos-info">
        <div class="productos-title">
          <label>Yellow Rolling</label>
        </div>
        <div class="productos-info-content">
          <label>Entregados: 1560</label>
          <label>Vencidos: 160 ( 10% ) </label>
          <label>Precio venta: $ 70</label>
          <label>Costo producción: $ 25 ( 28% ) </label>
          <label>Ganancia: $ 55</label>
        </div>
      </div>
    </div>
  </div>