<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>

	<title>GoodVibes prototype - Home</title>
	<!-- IPHONE -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="/images/icons/guru.png">
	<!-- IPHONE -->
	<link rel="manifest" href="/manifest.json">
	<script src="/main.js"></script>
	<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
	<script src="/js/angular.min.js"></script>
	<script src="/js/pointsOfSale.js"></script>
	<!-- dev start -->
	<!-- dev end -->
</head>

<body ng-app="googApp" ng-controller="pointOfSailController">
	<div class="slide-img cabezal">
		<a href="index.html">
			<img src="/images/app/good-vibes-logo.jpg">
		</a>
	</div>

	<table class="table">
		<tr>
			<td>
				<div class="card" style="margin:15px;">
					<div class="card-header">
						<b>Agregar punto de venta</b>
					</div>
					<div class="card-body">
						<div class="form-group">
							<span class="input-group-addon">Nombre:</span>
							<input type="text" class="form-control" ng-model="name" id="name">
						</div>
						<div class="form-group">
							<span class="input-group-addon">Dirección:</span>
							<input type="text" class="form-control" ng-model="address" id="address">
						</div>
						<div class="form-group">
							<span class="input-group-addon">Telefono:</span>
							<input type="text" class="form-control" ng-model="tel" id="tel">
						</div>
						<!--
						<div class="form-group">
							<label for="exampleFormControlFile1">Logo del punto de venta</label>
							<input type="file" class="form-control-file" id="exampleFormControlFile1">
						</div>
					-->
						<button type="button" ng-click="newPointOfSale()" class="btn btn-primary">Agregar punto de venta</button>
					</div>
				</div>
			</td>
			<td>
				<div class="card" style="margin:15px;">
					<div class="card-header">
						<b>Editar punto de venta</b>
					</div>
					<div class="card-body">
						<div class="form-group">
							<span class="input-group-addon">Nombre:</span>
							<input type="text" class="form-control" ng-model="nameUpdate" id="name">
						</div>
						<div class="form-group">
							<span class="input-group-addon">Dirección:</span>
							<input type="text" class="form-control" ng-model="addressUpdate" id="address">
						</div>
						<div class="form-group">
							<span class="input-group-addon">Telefono:</span>
							<input type="text" class="form-control" ng-model="telUpdate" id="tel">
						</div>
						<button type="button" ng-click="editPointOfSale()" class="btn btn-primary">Agregar punto de venta</button>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<div class="flex flex-wrap d-flex justify-content-around content-center content-between boxs-container">
		<div class="boxs-lista border" ng-repeat="p in puntosDeVenta">
			<div class="lista-image">
				<img src="/images/locales/{{p.image}}">
			</div>
			<div class="lista-info">
				<div class="lista-title">
					<label>{{p.name}}</label>
				</div>
				<div class="lista-info-content">
					<label>Productos entregados: 1560</label>
					<label>Productos pagos: 1560</label>
				</div>
				<a href="javascript:;" ng-click="delete(p.id)">x</a>
				<a href="javascript:;" ng-click="update(p.id,p.name,p.address,p.tel)">update</a>
			</div>
		</div>
	</div>
</body>

</html>